# git status                  # Shows the current status of all files
# git ls-files <file_name>    # Checks if config.json is tracked
# If the file is tracked, it will return the file path.
# If the file is not tracked, there will be no output.

# Jupyter Notebook
**.ipynb_checkpoints

# scipy openblas
**.openblas

# Sphinx documentation
docs/build/

# virtualenv
.venv
venv/
ENV/

# pyenv
.python-version

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# C extensions
**.so

# Byte-compiled / optimized / DLL files
**__pycache__/
*.py[cod]
*$py.class

# PyTest
**.pytest_cache

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
oryx-build-commands.txt
pip-log.txt
pip-delete-this-directory.txt

# IDE/editor droppings
*.swp
*.swo
.vscode
.vscode/settings.json

# Spyder project settings
.spyderproject
.spyproject

# PyCharm
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
.idea

# JIRA plugin
atlassian-ide-plugin.xml

# OS droppings
**.DS_Store